<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Create Account</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="login-body">

<div class="login-container">

<h2>📝 Create Account</h2>

<form action="/register" method="POST">

<input type="text"
name="username"
placeholder="Username"
required>

<input type="email"
name="email"
placeholder="Email"
required>

<input type="password"
name="password"
placeholder="Password"
required>

<select name="role">
<option value="analyst">
Security Analyst
</option>

<option value="admin">
Administrator
</option>
</select>

<button type="submit">
Create Account
</button>

</form>

<p class="footer-text">
Already have account?
<a href="/">Login</a>
</p>

</div>

</body>
</html>